#main_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
#alert_box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 700px;
  background-color: lightgray;
  border-radius: 10px;
  box-shadow: 1px 1px 3px;
}
p{
  text-align: center;
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 2px inset;
}
.gameh1,
.dragon,
.street,
.slug,
.gameh2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dragon,
.street,
.slug {
  width: 400px;
}
.o0 {
  opacity: 0;
}
.o1{
  opacity: 1;
  transition: all 2s ;
}
h2{
  text-align: center;
}
h2, h3{
  text-transform: uppercase;
  margin: 0;
}
.small_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  text-align: center;
}
.small_card p {
  width: 50%;
  margin: 4px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 2px inset;
}
.small_card img {
  height: 150px;
}
.pmini {
  margin: 2px
}
